In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor

In [2]:
train = pd.read_csv("./train.csv")
test = pd.read_csv("./test.csv")
train

,RowId,IntersectionId,Latitude,Longitude,EntryStreetName,ExitStreetName,EntryHeading,ExitHeading,Hour,Weekend,...,TimeFromFirstStop_p40,TimeFromFirstStop_p50,TimeFromFirstStop_p60,TimeFromFirstStop_p80,DistanceToFirstStop_p20,DistanceToFirstStop_p40,DistanceToFirstStop_p50,DistanceToFirstStop_p60,DistanceToFirstStop_p80,City
0,1921357,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta
1,1921358,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta
2,1921359,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta
3,1921360,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta
4,1921361,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,2,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
856382,2777739,1990,39.938232,-75.149930,South 4th Street,Catharine Street,S,W,17,1,...,0.0,0.0,0.0,55.0,0.0,0.0,0.0,0.0,75.5,Philadelphia
856383,2777740,1990,39.938232,-75.149930,South 4th Street,South 4th Street,S,S,18,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Philadelphia
856384,2777741,1990,39.938232,-75.149930,South 4th Street,South 4th Street,S,S,19,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Philadelphia
856385,2777742,1990,39.938232,-75.149930,Catharine Street,Catharine Street,W,W,20,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Philadelphia
856386,2777743,1990,39.938232,-75.149930,South 4th Street,South 4th Street,S,S,23,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Philadelphia

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 856387 entries, 0 to 856386
Data columns (total 28 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   RowId                    856387 non-null  int64
 1   IntersectionId           856387 non-null  int64
 2   Latitude                 856387 non-null  float64
 3   Longitude                856387 non-null  float64
 4   EntryStreetName          848239 non-null  object
 5   ExitStreetName           850100 non-null  object
 6   EntryHeading             856387 non-null  object
 7   ExitHeading              856387 non-null  object
 8   Hour                     856387 non-null  int64
 9   Weekend                  856387 non-null  int64
 10  Month                    856387 non-null  int64
 11  Path                     856387 non-null  object
 12  TotalTimeStopped_p20     856387 non-null  float64
 13  TotalTimeStopped_p40     856387 non-null  float64
 14  TotalTimeStopped_p50     856387 non-null  float64
 15  TotalTimeStopped_p60     856387 non-null  float64
 16  TotalTimeStopped_p80     856387 non-null  float64
 17  TimeFromFirstStop_p20    856387 non-null  float64
 18  TimeFromFirstStop_p40    856387 non-null  float64
 19  TimeFromFirstStop_p50    856387 non-null  float64
 20  TimeFromFirstStop_p60    856387 non-null  float64
 21  TimeFromFirstStop_p80    856387 non-null  float64
 22  DistanceToFirstStop_p20  856387 non-null  float64
 23  DistanceToFirstStop_p40  856387 non-null  float64
 24  DistanceToFirstStop_p50  856387 non-null  float64
 25  DistanceToFirstStop_p60  856387 non-null  float64
 26  DistanceToFirstStop_p80  856387 non-null  float64
 27  City                     856387 non-null  object
dtypes: float64(17), int64(5), object(6)
memory usage: 182.9+ MB

## One-hot encoding

In [4]:
str_col = ['EntryStreetName', 'ExitStreetName', 'EntryHeading', 'ExitHeading', 'Path', 'City']
train_onehot = train.copy()
test_onehot = test.copy()
for col in str_col:
    head = train[col].value_counts().head(80).index.tolist()
    train_onehot[col] = train_onehot[col].apply(lambda x: 'pleaseRemove' if head.count(x) == 0 else x)
    test_onehot[col] = test_onehot[col].apply(lambda x: 'pleaseRemove' if head.count(x) == 0 else x)
    print(col)

# print(train['ExitStreetName'].value_counts())
# print(train['EntryHeading'].value_counts())
# print(train['ExitHeading'].value_counts())
# print(train['Path'].value_counts())
# print(train['City'].value_counts())

EntryStreetName
ExitStreetName
EntryHeading
ExitHeading
Path
City

In [5]:
X = pd.get_dummies(train_onehot, columns=['EntryStreetName', 'ExitStreetName', 'EntryHeading', 'ExitHeading', 'Path', 'City'])
Y = train[['TotalTimeStopped_p20', 'TotalTimeStopped_p50', 'TotalTimeStopped_p80', 'DistanceToFirstStop_p20', 'DistanceToFirstStop_p50', 'DistanceToFirstStop_p80']]

for col in X.columns.tolist():
    if col.find('pleaseRemove') != -1:
        X.drop(col, axis = 1, inplace = True)
    if col.find('Stop') != -1:
        X.drop(col, axis = 1, inplace = True)

In [6]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 856387 entries, 0 to 856386
Columns: 267 entries, RowId to City_Philadelphia
dtypes: float64(2), int64(5), uint8(260)
memory usage: 258.1 MB

In [7]:
X.columns

Index(['RowId', 'IntersectionId', 'Latitude', 'Longitude', 'Hour', 'Weekend',
       'Month', 'EntryStreetName_10th Street Northwest',
       'EntryStreetName_17th Street Northwest',
       'EntryStreetName_Aramingo Avenue',
       ...
       'Path_West Lehigh Avenue_E_West Lehigh Avenue_E',
       'Path_West Lehigh Avenue_W_West Lehigh Avenue_W',
       'Path_West North Avenue_E_West North Avenue_E',
       'Path_West North Avenue_W_West North Avenue_W',
       'Path_West Roosevelt Road_E_West Roosevelt Road_E',
       'Path_West Roosevelt Road_W_West Roosevelt Road_W', 'City_Atlanta',
       'City_Boston', 'City_Chicago', 'City_Philadelphia'],
      dtype='object', length=267)

In [8]:
predict_X = pd.get_dummies(test_onehot, columns=['EntryStreetName', 'ExitStreetName', 'EntryHeading', 'ExitHeading', 'Path', 'City'])

In [9]:
for col in predict_X.columns.tolist():
    if col.find('pleaseRemove') != -1:
        predict_X.drop(col, axis = 1, inplace = True)

In [10]:
predict_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1921357 entries, 0 to 1921356
Columns: 267 entries, RowId to City_Philadelphia
dtypes: float64(2), int64(5), uint8(260)
memory usage: 579.0 MB

In [11]:
ml = RandomForestRegressor()
ml.fit(X, Y)

RandomForestRegressor()

In [12]:
predict_Y = ml.predict(predict_X)
predict_Y

array([[ 0.16 ,  2.68 , 25.74 ,  1.062, 13.524, 63.168],
       [ 0.   ,  1.21 , 25.99 ,  0.   ,  1.68 , 52.278],
       [ 0.   ,  0.64 ,  6.82 ,  0.   ,  1.106, 19.979],
       ...,
       [ 0.88 ,  3.96 , 13.56 ,  4.43 , 14.033, 52.17 ],
       [ 1.22 ,  4.36 , 12.12 ,  6.283, 14.421, 48.453],
       [ 1.3  ,  4.35 , 11.85 ,  6.851, 14.644, 47.868]])

In [13]:
# predict_Y = pd.DataFrame(predict_Y)
# predict_Y.rename(columns= {0: '_0', 1: '_1', 2: '_2', 3: '_3', 4: '_4', 5: '_5'}, inplace = True)
# a = predict_Y.head().groupby(level=0)
# a.groups
predict_Y = pd.DataFrame(np.ravel(predict_Y))
predict_Y_index = (predict_Y.index // 6).astype('string') + '_' + (predict_Y.index % 6).astype('string')
predict_Y.set_index(predict_Y_index, inplace=True)

In [ ]:
train.columns

In [15]:
predict_Y

                0
0_0         0.160
0_1         2.680
0_2        25.740
0_3         1.062
0_4        13.524
...           ...
1921356_1   4.350
1921356_2  11.850
1921356_3   6.851
1921356_4  14.644
1921356_5  47.868

[11528142 rows x 1 columns]

In [16]:
predict_Y.to_csv("submission.csv")